<!-- <app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <app-animations></app-animations> -->

<!-- New Section -->


<!-- <app-header-new />

<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" [selected]="user.id === userSelectedID" (select)="onReceiveID($event)"></app-user>
    </li>

    }

  </ul>

  @if (userSelectedID) {
  <div>
    <app-tasks [selectedID]="userSelectedID" [selectedUser]="userSelected"></app-tasks>
  </div>
  } @else {
  <div>Please select a user!</div>
  }

</main> -->

<!-- New Section 2 -->
<app-headers></app-headers>

<app-user-input></app-user-input>

<app-investment-results></app-investment-results>